body {
    background: linear-gradient(darkred, navy) ;
    display: block;
    text-align: center;
    align-items: center;
    background-attachment: fixed;
}

h1 {
    color: white;
}

h2 {
    color: aliceblue;
    text-decoration: underline;
}

label {
    color: aliceblue;
}

form {
    display: block;
    scale: 90%;
    background-color: burlywood;
    width: 60%;
    margin: auto;
    padding: 10px;
}
.optionLabel {
    font: bolder;
    font-size: xx-large;
    color: black;
}

